/* ---------------------------------------
variable
------------------------------------------ */
/* ---------------------------------------
mixins
------------------------------------------ */
/* ---------------------------------------
animations
------------------------------------------ */
.animation div {
  animation: anim-entete 1s both cubic-bezier(0.06, 1.03, 0.29, 1.01);
}

@keyframes anim-entete {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0);
  }
}

/* anim desktop on */
@media (min-width: 1000px) {
  .animation-p h3 {
    animation: anim-principal 1s both cubic-bezier(0.27, 0.2, 0.9, 0.34);
  }
  @keyframes anim-principal {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .animation div:nth-of-type(1) {
    animation-delay: 0.5s;
  }
  .animation div:nth-of-type(2) {
    animation-delay: 1s;
  }
  .animation div:nth-of-type(3) {
    animation-delay: 1.5s;
  }
  .animation div:nth-of-type(4) {
    animation-delay: 2s;
  }
  .animation div:nth-of-type(5) {
    animation-delay: 2.5s;
  }
  .animation-p h3:nth-of-type(1) {
    animation-delay: 0.7s;
  }
  .animation-p h3:nth-of-type(2) {
    animation-delay: 1.4s;
  }
  .animation-p h3:nth-of-type(3) {
    animation-delay: 2.1s;
  }
  .animation-p h3:nth-of-type(4) {
    animation-delay: 2.8s;
  }
  .animation-p h3:nth-of-type(5) {
    animation-delay: 3.5s;
  }
}

/* ---------------------------------------
layout
------------------------------------------ */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #fff;
}

@media (min-width: 1000px) {
  body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }
}

@media (min-width: 1000px) {
  body::after {
    content: "";
    clip-path: polygon(0 0, 80% 0, 50% 100%, 0 100%);
    background-color: #181a1d;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .8rem;
}

h6 {
  font-size: .7rem;
}

p {
  font-size: .6rem;
}

.bloc {
  background-color: #181a1d;
  color: #f4faff;
  font-size: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (min-width: 1000px) {
  .bloc {
    font-size: 3rem;
    background-color: transparent;
    justify-content: flex-start;
  }
}

.bloc img {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  margin-right: 15px;
}

.grille {
  display: grid;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "entete entete entete" "menu menu menu" "annonce1 annonce1 annonce1" "principal principal principal" "pied-page pied-page pied-page";
}

@media (min-width: 1000px) {
  .grille {
    width: 80%;
    height: 100%;
    grid-gap: 20px;
    grid-template-areas: "entete entete entete" "menu menu menu" "principal principal annonce1" "pied-page pied-page pied-page";
  }
}

.entete {
  grid-area: entete;
  background-color: transparent;
}

.menu {
  grid-area: menu;
  margin: 0 auto;
  padding: 8px;
}

.menu:hover {
  color: white;
  background-color: #00a3cc;
}

@media (min-width: 1000px) {
  .menu {
    padding: none;
    background-color: transparent;
  }
  .menu:hover {
    color: #00a3cc;
    background-color: transparent;
  }
}

.annonce1 {
  grid-area: annonce1;
}

.principal {
  grid-area: principal;
}

.pied-page {
  grid-area: pied-page;
  color: black;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.pied-page h3 {
  font-size: 1rem;
}

.entete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entete section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.entete section div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #00a3cc;
  margin: 1px;
}

@media (min-width: 1000px) {
  .entete section div {
    margin: 10px;
    width: 50px;
    height: 50px;
  }
}

.annonce1 {
  background-color: #181a1d;
  color: #00a3cc;
  border-radius: 10px;
  box-shadow: 7px 3px 11px 4px #00a3cc;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.annonce1 div {
  font-size: .7rem;
  display: flex;
  align-items: center;
}

.annonce1 div img {
  width: 45px;
  height: 45px;
}

@media (min-width: 1000px) {
  .annonce1 div {
    font-size: 1rem;
  }
  .annonce1 div img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 1000px) {
  .annonce1 {
    padding: 42px;
    margin: 20px;
  }
}

.principal {
  display: grid;
  place-items: center;
}

.principal section {
  background-color: #00a3cc;
  color: white;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

.principal section h3 {
  /*background-color: rgb(30, 207, 154);*/
  border-radius: 40%;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  place-items: center;
  font-size: 1.2rem;
}

@media (min-width: 1000px) {
  .principal {
    /*background-color: #ffffff; */
    border-radius: 15%;
  }
  .principal section {
    background-color: transparent;
    color: #00a3cc;
  }
  .principal section h3 {
    font-size: 2rem;
  }
}

@media (min-width: 1000px) {
  .pied-page h3 {
    padding: 5px;
    color: white;
    background-color: #00a3cc;
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */